
@media screen and (min-width: 980px){ /* Laptop */
    .items {
        position: absolute;
        word-wrap: break-word;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px){ /* Laptop */
    .row {
        margin-left: 0%;
        flex-direction: row;
    }

    .header-menu {
        text-align: left;
    }

    .autor img {
        padding: 5px;
        max-width: 70px;
    }

    .autor_content {
        font-size: 14px;
        width: 12rem;
    }
}

@media only screen and (min-width: 1605px) and (max-width: 1800px) and (orientation: landscape) { /* Laptop */
    .select-box {
        display: flex;
        width: 70%;
        flex-direction: column;
        /*border: 1px solid red;*/
      }
}

@media only screen and (min-width: 1401px) and (max-width: 1600px) and (orientation: landscape) { /* Laptop */
    .select-box {
        display: flex;
        width: 70%;
        flex-direction: column;
        /*border: 1px solid red;*/
      }
}

@media only screen and (min-width: 1112px) and (max-width: 1400px) and (orientation: landscape) { /* Laptop */ /* AZUL */
    .row {
        margin-left: 0%;
        flex-direction: row;
    }

    .header-menu {
        text-align: left;
    }

    .select-box {
        display: flex;
        width: 70%;
        flex-direction: column;
        /*border: 1px solid red;*/
      }

}

@media only screen and (min-width: 980px) and (max-width: 1112px) and (orientation: landscape) { /* Laptop & tablet */ /* MORADO */
    .row {
        margin-left: 0%;
        flex-direction: row;
    }

    .header-menu {
        text-align: left;
    }

    .autor img {
        padding: 5px;
        max-width: 70px;
    }

    .autor_content {
        font-size: 14px;
        width: 12rem;
    }

    .select-box {
        display: flex;
        width: 80%;
        flex-direction: column;
        /*border: 1px solid red;*/
      }

}



@media only screen and (min-width: 880px) and (max-width: 979px){ /* Moviles */
    nav{
        flex-direction: row;
    }

    .row {
        flex-direction: column;
        margin-left: 0%;
    }

    .header-menu {
        text-align: left;
    }

    .autor_urls {
        display: block;
    }

    aside {
        flex: 0%;
        margin-bottom: -100px;
    }

    .autor img {
        padding: 5px;
        border: 1px solid #fff;
        max-width: 65px;
        border-radius: 50%;
        float: left;
    }

    .autor_content {
        font-size: 13.5px;
        width: 12rem;
        float: left;
    }

    .autor_content h3, .autor_content p {
        margin: 0;
    }
    
    .autor_content h3 {
        margin-top: 5%;
        margin-left: 10%;
    }
    
    .autor_content p {
        margin-left: 10%;
    }

    .socialbtns {
        display: flex;
        flex-direction: column-reverse;
    }

    .select-box {
        display: flex;
        width: 80%;
        flex-direction: column;
        /*border: 1px solid red;*/
      }
}

@media only screen and (min-width: 780px) and (max-width: 879px){ /* Moviles */
    nav{
        flex-direction: row;
    }

    .row {
        flex-direction: column;
        margin-left: 0%;
    }

    .header-menu {
        text-align: left;
    }

    .autor_urls {
        display: block;
    }

    aside {
        flex: 0%;
        margin-bottom: -100px;
    }

    .autor img {
        padding: 5px;
        border: 1px solid #fff;
        max-width: 65px;
        border-radius: 50%;
        float: left;
    }

    .autor_content {
        font-size: 13.5px;
        width: 12rem;
        float: left;
    }

    .autor_content h3, .autor_content p {
        margin: 0;
    }
    
    .autor_content h3 {
        margin-top: 5%;
        margin-left: 10%;
    }
    
    .autor_content p {
        margin-left: 10%;
    }

    .socialbtns {
        display: flex;
        flex-direction: column-reverse;
    }

    .select-box {
        display: flex;
        width: 80%;
        flex-direction: column;
        /*border: 1px solid red;*/
      }
}

@media only screen and (min-width: 680px) and (max-width: 779px){ /* Moviles */
    nav{
        flex-direction: row;
    }

    .row {
        flex-direction: column;
        margin-left: 0%;
    }

    .header-menu {
        text-align: left;
    }

    .autor_urls {
        display: block;
    }

    aside {
        flex: 0%;
        margin-bottom: -100px;
    }

    .autor img {
        padding: 5px;
        border: 1px solid #fff;
        max-width: 65px;
        border-radius: 50%;
        float: left;
    }

    .autor_content {
        font-size: 13.5px;
        width: 12rem;
        float: left;
    }

    .autor_content h3, .autor_content p {
        margin: 0;
    }
    
    .autor_content h3 {
        margin-top: 5%;
        margin-left: 10%;
    }
    
    .autor_content p {
        margin-left: 10%;
    }

    .socialbtns {
        display: flex;
        flex-direction: column-reverse;
    }

    .select-box {
        display: flex;
        width: 100%;
        flex-direction: column;
        /*border: 1px solid red;*/
      }
}

@media only screen and (min-width: 593px) and (max-width: 679px){ /* Moviles */
    nav{
        flex-direction: row;
    }

    .row {
        flex-direction: column;
        margin-left: 0%;
    }

    .header-menu {
        text-align: left;
    }

    .autor_urls {
        display: block;
    }

    aside {
        flex: 0%;
        margin-bottom: -100px;
    }

    .autor img {
        padding: 5px;
        border: 1px solid #fff;
        max-width: 65px;
        border-radius: 50%;
        float: left;
    }

    .autor_content {
        font-size: 13.5px;
        width: 12rem;
        float: left;
    }

    .autor_content h3, .autor_content p {
        margin: 0;
    }
    
    .autor_content h3 {
        margin-top: 5%;
        margin-left: 10%;
    }
    
    .autor_content p {
        margin-left: 10%;
    }
    
    .socialbtns {
        display: flex;
        flex-direction: column-reverse;
    }

    .select-box {
        display: flex;
        width: 100%;
        flex-direction: column;
        /*border: 1px solid red;*/
      }
}

@media only screen and (min-width: 425px) and (max-width: 593px){ /* Moviles */
    nav{
        flex-direction: row;
    }

    .row {
        flex-direction: column;
        margin-left: 0%;
    }

    .header-menu {
        text-align: left;
    }

    .autor_urls {
        display: block;
    }

    aside {
        flex: 0%;
        margin-bottom: -100px;
    }

    .autor img {
        padding: 5px;
        border: 1px solid #fff;
        max-width: 65px;
        border-radius: 50%;
        float: left;
    }

    .autor_content {
        font-size: 13.5px;
        width: 12rem;
        float: left;
    }

    .autor_content h3, .autor_content p {
        margin: 0;
    }
    
    .autor_content h3 {
        margin-top: 5%;
        margin-left: 10%;
    }
    
    .autor_content p {
        margin-left: 10%;
    }
    
    .socialbtns {
        display: flex;
        flex-direction: column-reverse;
    }

    .select-box {
        display: flex;
        width: 100%;
        flex-direction: column;
        /*border: 1px solid red;*/
      }
}

@media only screen and (min-width: 352px) and (max-width: 424px){ /* Moviles */
    nav{
        flex-direction: row;
    }

    .row {
        flex-direction: column;
        margin-left: 0%;
    }

    .header-menu {
        text-align: left;
    }

    .autor_urls {
        display: block;
    }

    aside {
        flex: 0%;
        margin-bottom: -100px;
    }

    section .list__item .archive__item p img {
        height:100px !important; 
        width: 150px !important;
    }

    .autor img {
        padding: 5px;
        border: 1px solid #fff;
        max-width: 65px;
        border-radius: 50%;
        float: left;
    }

    .autor_content {
        font-size: 13.5px;
        width: 12rem;
        float: left;
    }

    .autor_content h3, .autor_content p {
        margin: 0;
    }
    
    .autor_content h3 {
        margin-top: 5%;
        margin-left: 10%;
    }
    
    .autor_content p {
        margin-left: 10%;
    }
    
    .socialbtns {
        display: flex;
        flex-direction: column-reverse;
    }

    .select-box {
        display: flex;
        width: 100%;
        flex-direction: column;
        /*border: 1px solid red;*/
      }

      .archive__item-title {
        font-size: 18px;
    }

    .archive__item .page__meta {
        font-size: .60em;
    }

    .archive__item-excerpt {
        font-size: .60em;
    }
}


@media only screen and (min-width: 297px) and (max-width: 351px){ /* Moviles */
    nav{
        flex-direction: row;
    }

    .row {
        flex-direction: column;
        margin-left: 0%;
    }

    .header-menu {
        text-align: left;
    }

    .autor_urls {
        display: block;
    }

    aside {
        flex: 0%;
        margin-bottom: -100px;
    }

    section .list__item .archive__item p img {
        height:100px !important; 
        width: 150px !important;
    }

    .autor img {
        padding: 5px;
        border: 1px solid #fff;
        max-width: 65px;
        border-radius: 50%;
        float: left;
    }

    .autor_content {
        font-size: 13.5px;
        width: 12rem;
        float: left;
    }

    .autor_content h3, .autor_content p {
        margin: 0;
    }
    
    .autor_content h3 {
        margin-top: 5%;
        margin-left: 10%;
    }
    
    .autor_content p {
        margin-left: 10%;
    }
    
    .socialbtns {
        display: flex;
        flex-direction: column-reverse;
    }

    .select-box {
        display: flex;
        width: 100%;
        flex-direction: column;
        /*border: 1px solid red;*/
      }
}

@media only screen and (max-width: 296px){ /* Moviles */
    nav{
        flex-direction: row;
    }

    .row {
        flex-direction: column;
        margin-left: 0%;
    }

    .header-menu {
        text-align: left;
    }

    .autor_urls {
        display: block;
    }

    aside {
        flex: 0%;
        margin-bottom: -100px;
    }

    .autor img {
        padding: 5px;
        border: 1px solid #fff;
        max-width: 65px;
        border-radius: 50%;
        float: left;
    }

    .autor_content {
        font-size: 13.5px;
        width: 12rem;
        float: left;
    }

    .autor_content h3, .autor_content p {
        margin: 0;
    }
    
    .autor_content h3 {
        margin-top: 5%;
        margin-left: 10%;
    }
    
    .autor_content p {
        margin-left: 10%;
    }
    
    .socialbtns {
        display: flex;
        flex-direction: column-reverse;
    }

    .select-box {
        display: flex;
        width: 100%;
        flex-direction: column;
        /*border: 1px solid red;*/
      }
}

/* MEDIAS PARA EL SUBMENU DROPDOWN */

@media only screen and (min-width: 601px) {
    .main {
        visibility: hidden;
    }
    .iniciodrop, .etiquetasdrop, .finddrop, .contactdrop {
        display: none;
    }
}

@media only screen and (min-width: 475px) and (max-width: 600px){ 
    #contacto {
        display: none;
    }
    
    .iniciodrop, .etiquetasdrop, .finddrop {
        display: none;
    }
}

@media only screen and (min-width: 376px) and (max-width: 474px){ 
    #contacto, #buscador {
        display: none;
    }
    .iniciodrop, .etiquetasdrop {
        display: none;
    }
}

@media only screen and (max-width: 375px){ 
    #etiquetas, #contacto, #buscador {
        display: none;
    }

    .iniciodrop {
        display: none;
    }
}